<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="uece.ees"
         point="org.eclipse.ui.newWizards">
      <category
            id="UefiIde.category.wizards"
            name="Uefi EDK2 Tools">
      </category>
      <wizard
            category="UefiIde.category.wizards"
            class="org.uefiide.wizards.ExistingModuleProjectWizard"
            finalPerspective="org.eclipse.cdt.ui.CPerspective"
            id="UefIde.wizards.new.module"
            name="Existing EDK2 Module Wizard"
            project="true">
      </wizard>
      <wizard
            category="UefiIde.category.wizards"
            class="org.uefiide.wizards.NewEdk2ModuleProjectWizard"
            finalPerspective="org.eclipse.cdt.ui.CPerspective"
            id="UefIde.wizards.new.empty_module"
            name="New EDK2 Module Wizard"
            project="true">
      </wizard>
   </extension>
   <extension point="org.eclipse.ui.menus">
       <menuContribution
             locationURI="popup:common.new.menu?after=new">
             <command
                   commandId="UefiIde.menuentries.new.EDK2Source"
                   label="New EDK2 Module source file" style="push">
                   <visibleWhen
                         checkEnabled="false">
                         <iterate ifEmpty="false">
                           <instanceof
                                 value="org.eclipse.core.resources.IProject">
                           </instanceof>
                         </iterate>
                   </visibleWhen>
             </command>
       </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
         <command
               id="UefiIde.menuentries.new.EDK2Source"
               defaultHandler="org.uefiide.handlers.NewEdk2SourceHandler"
               name="New EDK2 Module Source file handler">
         </command>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="SetResourceChangeListenerStartup">
      </startup>
      <startup
            class="SetDefaultEditorsStartup">
      </startup>
   </extension>

</plugin>
