<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="uece.ees"
         point="org.eclipse.ui.newWizards">
      <category
            id="UefiIde.category.wizards"
            name="UefiIde Wizards">
      </category>
      <wizard
            category="UefiIde.category.wizards"
            class="org.uefiide.wizards.NewProjectWizard"
            finalPerspective="org.eclipse.cdt.ui.CPerspective"
            id="UefIde.wizards.new.project"
            name="New EDK2 Project Wizard"
            project="true">
      </wizard>
   </extension>

</plugin>
